<head>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "2015.css" %}">
{% load staticfiles %}
<script type="text/javascript" src="{% static "turn.min.js" %}"></script>
</head>
<body>
	<script type="text/javascript">
		for (var i=1; i<=66; i++) {
	    	(new Image()).src = '/static/img/'+i.toString()+'.jpg';
	    }
	</script>
	<div class="content">
		<div id="yearbook">
			<div class="hard cover">
				<div class="title">2015 Yearbook</div>
				<div class="credit">Jianzhong Chen</div>
			</div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/1.jpg" %}">
		    	</div>
		    	<div class="text">
		    		2015年新年，BayStreet
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/2.jpg" %}">
		    	</div>
		    	<div class="text">
		    		金门桥头, Fort Point
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/3.jpg" %}">
		    	</div>
		    	<div class="text">
		    		老妈最漂亮了（悄悄地不要告诉她）
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/4.jpg" %}">
		    	</div>
		    	<div class="text">
		    		SF海边，望着太平洋，落日余晖
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/5.jpg" %}">
		    	</div>
		    	<div class="text">
		    		iPhone全景照落日
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/6.jpg" %}">
		    	</div>
		    	<div class="text">
		    		SF夜景，Twin Peaks
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/7.jpg" %}">
		    	</div>
		    	<div class="text">
		    		The Thinker, Legion of Honor
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/8.jpg" %}">
		    	</div>
		    	<div class="text">
		    		这个嫌弃的小眼神，lol
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/9.jpg" %}">
		    	</div>
		    	<div class="text">
		    		Cheese Board表示我就是不开，来咬我啊
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/10.jpg" %}">
		    	</div>
		    	<div class="text">
		    		Napa喝过酒
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/11.jpg" %}">
		    	</div>
		    	<div class="text">
		    		Ippuku吃过串
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/12.jpg" %}">
		    	</div>
		    	<div class="text">
		    		半夜回家见过鹿
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/13.jpg" %}">
		    	</div>
		    	<div class="text">
		    		Cinderella，通话故事还是Disney拍的好
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/14.jpg" %}">
		    	</div>
		    	<div class="text">
		    		Blizzard典藏画册已入手
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/15.jpg" %}">
		    	</div>
		    	<div class="text">
		    		Last Furious
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/16.jpg" %}">
		    	</div>
		    	<div class="text">
		    		Chinese Theatre留过影
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/17.jpg" %}">
		    	</div>
		    	<div class="text">
		    		高大上的UCSD新闻学院
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/18.jpg" %}">
		    	</div>
		    	<div class="text">
		    		UCSD电影学院门前留念
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/19.jpg" %}">
		    	</div>
		    	<div class="text">
		    		LadyM也吃过了
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/20.jpg" %}">
		    	</div>
		    	<div class="text">
		    		RIOT门前逛过街
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/21.jpg" %}">
		    	</div>
		    	<div class="text">
		    		看过了LOL现场
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/22.jpg" %}">
		    	</div>
		    	<div class="text">
		    		SF被一层雾所笼罩
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/23.jpg" %}">
		    	</div>
		    	<div class="text">
		    		The Averagers，Marvel暑期档
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/24.jpg" %}">
		    	</div>
		    	<div class="text">
		    		补了鲁鲁修
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/25.jpg" %}">
		    	</div>
		    	<div class="text">
		    		参观曾经帮过的一家startup在上海的办公室，@匠临
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/26.jpg" %}">
		    	</div>
		    	<div class="text">
		    		台州参观加工厂，熟人开的，大家都快去买凳子，@Zhejiang MIO Furniture Co., Ltd‏
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/27.jpg" %}">
		    	</div>
		    	<div class="text">
		    		跟风吃庆丰包子
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/28.jpg" %}">
		    	</div>
		    	<div class="text">
		    		参观中关村创业大街（当时还是人傻钱多，人山人海）
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/29.jpg" %}">
		    	</div>
		    	<div class="text">
		    		明德楼下照一张
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/30.jpg" %}">
		    	</div>
		    	<div class="text">
		    		参加另一家startup的公开宣传，@jobcouch
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/31.jpg" %}">
		    	</div>
		    	<div class="text">
		    		与jobcouch的朋友合影（表示我表情很正常好么）
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/32.jpg" %}">
		    	</div>
		    	<div class="text">
		    		SF市政府100周年活动
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/33.jpg" %}">
		    	</div>
		    	<div class="text">
		    		SF Pride Parade凑热闹
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/34.jpg" %}">
		    	</div>
		    	<div class="text">
		    		Half Moon Bay #阳光沙滩
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/35.jpg" %}">
		    	</div>
		    	<div class="text">
		    		Monterey #沙滩超级软
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/36.jpg" %}">
		    	</div>
		    	<div class="text">
		    		Big Sur #风光无限好
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/37.jpg" %}">
		    	</div>
		    	<div class="text">
		    		Big Sur #风光无限好 X2
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/38.jpg" %}">
		    	</div>
		    	<div class="text">
		    		8月，相约Key Arena #TI5
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/39.jpg" %}">
		    	</div>
		    	<div class="text">
		    		Dota2现场也是要经历一次的
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/40.jpg" %}">
		    	</div>
		    	<div class="text">
		    		TI5场馆布景
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/41.jpg" %}">
		    	</div>
		    	<div class="text">
		    		开除了值300刀的视频，感觉这波不亏
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/42.jpg" %}">
		    	</div>
		    	<div class="text">
		    		TI5 EG夺冠，西恩要加油啊=。=
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/43.jpg" %}">
		    	</div>
		    	<div class="text">
		    		三冰经典拖鞋装 @iceiceice
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/44.jpg" %}">
		    	</div>
		    	<div class="text">
		    		鼎泰丰的包子也是要吃的
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/45.jpg" %}">
		    	</div>
		    	<div class="text">
		    		啪啪啪，啪啪啪，。。。
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/46.jpg" %}">
		    	</div>
		    	<div class="text">
		    		Lake Tahoe游船一日游
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/47.jpg" %}">
		    	</div>
		    	<div class="text">
		    		我也要上镜
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/48.jpg" %}">
		    	</div>
		    	<div class="text">
		    		Tahoe的湖水 #清澈见底
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/49.jpg" %}">
		    	</div>
		    	<div class="text">
		    		Charlotte， 感觉一季不够看啊
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/50.jpg" %}">
		    	</div>
		    	<div class="text">
		    		有幸遇到非常完美的月全食
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/51.jpg" %}">
		    	</div>
		    	<div class="text">
		    		CalHack2.0
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/52.jpg" %}">
		    	</div>
		    	<div class="text">
		    		The Martian，今年最佳不过分吧
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/53.jpg" %}">
		    	</div>
		    	<div class="text">
		    		高大上的糖果店，柜台上有coco做的骷髅 @Mountain View
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/54.jpg" %}">
		    	</div>
		    	<div class="text">
		    		试用surface book蓝屏了（咦，好像并不奇怪）
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/55.jpg" %}">
		    	</div>
		    	<div class="text">
		    		007 Spectre，真的除了剧情都超级好的说
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/56.jpg" %}">
		    	</div>
		    	<div class="text">
		    		Fallout4--War，War never changes。
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/57.jpg" %}">
		    	</div>
		    	<div class="text">
		    		感恩节，Livermore 冒着寒风拍着长队，买买买！
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/58.jpg" %}">
		    	</div>
		    	<div class="text">
		    		产权下来了，感觉自己吊吊的
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/59.jpg" %}">
		    	</div>
		    	<div class="text">
		    		Ori and the blind forest, 从没玩过这么唯美的游戏
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/60.jpg" %}">
		    	</div>
		    	<div class="text">
		    		Star wars又回归啦
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/61.jpg" %}">
		    	</div>
		    	<div class="text">
		    		冒着暴雪滑雪真的很拼啊，下次出门要看天气预报 TAT
		    	</div>
		    </div>
		    <div class="hard">
		    	
		    	<div class="text">
		    		另外再安利一下今年参与的project ~。~
		    	</div>
		    	<div class="text">
		    		诶，不要走啊，往下看啦
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/62.jpg" %}">
		    	</div>
		    	<div class="text">
		    		首先，做了几个月的产品就被国内一公司黑了，这能忍
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/63.jpg" %}">
		    	</div>
		    	<div class="text">
		    		<a href="https://getluxapp.com/">Sellegit Lux</a>很好用的app，可以买一下lifesty的东西
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/64.jpg" %}">
		    	</div>
		    	<div class="text">
		    		<a href="http://www.jobcouch.com/beta/candidate">JobCouch</a>有理想有情怀的一群人，力图要解决low wealth employment
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/65.jpg" %}">
		    	</div>
		    	<div class="text">
		    		<a href="http://jeanine.asia/home/">匠临</a>如图，要做有态度的设计电商
		    	</div>
		    </div>
		    <div class="hard">
		    	<div class="image">
		    		{% load staticfiles %}
					<img src="{% static "img/66.jpg" %}">
		    	</div>
		    	<div class="text">
		    		终于写完了，一共66张，今年好顺。希望明年也顺。😢最后当然是祝大家新年快乐啦（~。~）
		    	</div>
		    </div>
		    <div class="hard"></div>
		</div>
	</div>

	<script type="text/javascript">
		$("#yearbook").turn({
			width: 1100,
			height: 350,
			autoCenter: true
		});
	</script>
</body>
